<h2>Jogadores</h2>
<hr>
<button type="button" (click)="reload()" class="btn btn-primary mr-1">Recarregar</button>
<button type="button" (click)="reload()" class="btn btn-primary mr-1">Adicionar jogador</button>
<section>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let footballer of footballers">
      <app-footballers-list-item [footballer]="footballer" (itemChange)="refresh($event)"></app-footballers-list-item>
    </li>
    <div *ngIf="footballers.length == 0" class="alert alert-warning" role="alert">
      Nenhum jogador foi encontrado.
    </div>
  </ul>
</section>
